.container{

    margin: 3rem 0;
  
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
}

.header{
    margin: 2rem 0;
}

.description{
    margin-top: 1rem;
    background-color: #F3F6FA;
    padding: 1rem;
    border-radius: 10px;
    
}

.comments{
    margin: 1rem 0;
    background-color: #F3F6FA;
    padding: 1rem;
    border-radius: 10px;
}

.commentTitle{
    margin-top: 10px;
}



.status {
    background-color: #333;
    color: #fff;
    width: 100px;
    height: 40;
    
    padding: 0 20px;
    justify-self: center;
   margin-left: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  .new {
    background-color: #E7FBE8;
    color: #19AC58;
    border-radius: 50px;
    border: 1px solid #19AC58;
  }
  
  .open {
    background-color: #ECF5FD;
    color: #1860EA;
    border-radius: 50px;
    border: 1px solid #1860EA;
  }
  
  .closed {
    background-color: #FEF0E1;
    color: #E69241;
    border-radius: 50px;
    border: 1px solid #E69241;
  }

.closeButton {
  border: 2px solid #333;
  color: #2c2c2c;
 
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
  padding:  7px 10px;
  font-size: medium;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
 
  }

  .closeButton svg{
    margin-right: 10px ;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .formGroup  input,
  .formGroup  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b0bdbe;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }

  .closeModal{
    background-color: #fff;
    border: none;
    font-size: large;
  }

  .closeModal:hover{
    transform: scale(.6);
  }

  .modalHead{
    display: flex;
    justify-content: space-between;
  }